:root {
    --container-width: 1480px;
    --container-padding-x: 20px;

    --font-primary: 'Montserrat', sans-serif;
    --font-accent: 'Martina scriptC', sans-serif;
    --font-logo: 'Marianna', sans-serif;

    --color-primary: #3C0103;
    --color-primary-dark: #2C0002;
    --color-primary-light: #590100;
    --color-primary-lighter: #CB0200;
    --color-secondary: #FFF8F3;
    --color-black: #000000;

    --border-radius: 4.0625rem;
    --scrollbar-width: 0px; /* Значение по умолчанию */
}

body, html {
    background: var(--color-primary);
    font-family: var(--font-primary), sans-serif;
    font-weight: 400;
}

.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.bg-accent {
    background-color: var(--color-primary);
}

.red {
    color: var(--color-primary-light);
}

.button {
    font-size: 20px;
    font-weight: 700;
    border-radius: var(--border-radius);
    border: none;
}

.button.white {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: var(--color-secondary);
}

.title-accent {
    font-family: var(--font-accent), sans-serif;
    font-size: clamp(96px, 14.35vw, 248px);
    font-weight: 400;
    text-transform: lowercase;
    margin-right: 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 6.5rem;
    position: relative;
    color: var(--color-secondary);
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5625rem;
}

.header a{
    text-decoration: none;
    color: var(--color-secondary);
}

.burger {
    display: none;
    padding-block: 15px;
}

.mobile-menu {
    display: none;
}

.mobile-menu__list {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.mobile-menu__link {
    font-size: 20px;
}

.mobile-menu__contacts {
    display: flex;
    column-gap: 10px;
}

.logo__text {
    font-weight: 300;
    font-size: 2rem;
}

.logo__text.white {
    font-family: var(--font-logo), sans-serif;
    font-size: 4rem;
    margin-right: 0.5rem;
}

.contacts {
    display: flex;
    column-gap: 1.73vw;
}

.contacts__link svg{
    width: clamp(30px, 2.7vw, 48px);
    aspect-ratio: 1;
}

.hero {
    position: relative;
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    padding-left: var(--container-padding-x);
    margin-right: 0;
    color: var(--color-secondary);
    margin-left: max(0px, calc((100vw - (var(--container-width) + var(--container-padding-x) * 2) - var(--scrollbar-width)) / 2));
}

.hero__title {
    font-size: clamp(28px, 3.7vw, 50px);
    margin-bottom: 0.875rem;
}

.hero__subtitle {
    font-size: clamp(16px, 2vw, 36px);
    margin-bottom: 3.75rem;
}

.hero__image-container {
    width: clamp(320px, 38vw, 670px);
    height: auto;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    background: url("../icons/lines-desctop.svg") center center no-repeat;
    background-size: cover;
    width: 52.7vw;
    aspect-ratio: 1.07;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero::after {
    content: "";
    position: absolute;
    background: url("../images/фото-крис.png") center center no-repeat;
    right: 0;
    bottom: 0;
}

.hero__image{
    position: relative;
    z-index: 2;
}


.hero__button {
    padding: 1rem 2.875rem;
}

.marquee-container {
    padding-block: 7px;
    overflow: hidden;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    background: black;
    white-space: nowrap;
    user-select: none;
}

.marquee {
    padding-right: 20px;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
}

.items-wrap .items {
    display: flex;
    flex-shrink: 0;
    gap: 20px; /* Отступы между элементами */
    animation: scroll 25s linear infinite; /* Анимация */
}

.itemM {
    display: inline-block; /* Строчно-блочный элемент */
    white-space: nowrap; /* Запрещаем перенос текста */
    color: var(--color-secondary);
    border-radius: 10px; /* Радиус для закругления */
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.accent {
    color: var(--color-primary-lighter); /* Для акцента 'Red' */
}

.about {
    background-color: var(--color-secondary);
}

.about__container {
    padding-left: 0;
    margin-left: -40px;
    margin-right: max(0px, calc((100vw - (var(--container-width) + var(--container-padding-x) * 2) - var(--scrollbar-width)) / 2));
    padding-right: var(--container-padding-x);
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.about__title {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-primary-light);
    font-size: clamp(400px, 54.9vw, 900px);
    line-height: 0.44;
    font-weight: 400;
    vertical-align: top;
    margin-bottom: 6%;
    margin-top: -10%;
    margin-right: 100px;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 790px;
    border: 25px var(--color-primary-light) solid;
    padding: 20px clamp(10px, 2.6vw, 45px);
    margin-bottom: 20px;
}

.text-container__title {
    color: var(--color-primary-light);
    font-size: clamp(20px, 1.85vw ,32px);
    font-weight: 800;
}

.text-container__title:not(:last-child) {
    margin-bottom: 10px;
}

.text-container__text {
    font-weight: 500;
    line-height: 1;
    font-size: clamp(14px, 1.38vw, 20px);
}

.text-container__sub-title {
    color: var(--color-primary-light);
    font-size: clamp(14px, 1.38vw, 20px);
    font-weight: 700;
}

.separator {
    background-color: var(--color-primary);
    position: relative;
    z-index: 100;
    height: clamp(44px, 5.09vw ,88px);
}

.head {
    padding-block: 30px;
    background-color: white;
}

.head__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head__image {
    width: clamp(364px, 27.43vw, 474px);
    height: auto;
}

.head__info {
    max-width: clamp(400px, 39.98vw, 691px);
}

.head__title,
.head__subtitle,
.head__text {
    display: block;
    line-height: 1;
}

.head__title {
    text-transform: uppercase;
    font-size: clamp(40px, 3.7vw, 64px);
    font-weight: 800;
    color: var(--color-primary-light);
    margin-bottom: 20px;
}

.head__subtitle {
    font-size: clamp(16px, 1.38vw, 24px);
    font-style: italic;
    font-weight: 600;
    margin-bottom: 70px;
}

.head__text {
    font-weight: 500;
    font-size: clamp(16px, 1.38vw, 24px);
}

.head__contacts {
    flex-direction: column;
    gap: 30px;
}

.head__contacts-link {
    color: var(--color-primary-light);
}

.head__contacts svg {
    width: clamp(72px, 5.61vw, 97px);
    height: clamp(72px, 5.61vw, 97px);
    color: var(--color-primary-light);
    fill: currentColor;
}

.head__contacts svg path {
    fill: var(--color-primary-light);
}

.command {
    color: white;
    position: relative;
    padding-bottom: 60px;
}

.command::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 36.16vw;
    left: 0;
    opacity: 0.7;
    transform: scaleX(-1);
    mix-blend-mode: soft-light;
    background: url("../images/team-bg.png") center no-repeat;
    background-size: cover; /* Если изображение нужно растянуть */
}

.command__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.command__info {
    max-width: 605px;
    margin-right: clamp(40px, 5.2vw,90px);
}

.command__title {
    font-size: clamp(40px, 6.94vw, 120px);
    text-transform: uppercase;
}

.command__text {
    font-size: clamp(16px, 1.38vw, 24px);
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки */
  gap: 20px; /* Расстояние между ячейками */
  max-width: 750px;
  margin: 50px auto;
  padding: 20px;
  background-color: #00000047; /* Фон таблицы */
  min-width: 370px;
}

.table-item:last-child {
  border-bottom: none; /* Убрать линию у последнего элемента */
}

.table-item h3 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #fff; /* Линия между элементами */
  padding-bottom: 10px;
}

.table-item p {
  margin: 5px 0 0;
  font-size: 14px;
}

.price {
    background: white;
    padding-block: 50px;
}

.price__title {
    font-size: clamp(40px, 6.94vw, 120px);
    font-weight: 800;
    line-height: 1.2;
    color: var(--color-primary-light);
}

.price__subtitle {
    display: block;
    font-family: var(--font-accent), sans-serif;
    font-size: clamp(96px, 14.35vw, 248px);
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-primary-light);
    margin-top: -8%;
}

.price__list {
    display: flex;
    align-items: end;
    column-gap: 30px;
    margin-top: -10%;
}

.price__plan {
    position: relative;
    max-width: 488px;
    padding: 30px 45px;
    background: var(--color-primary);
    color: white
}

.price__plan::before {
    content: ''; /* Создаём псевдоэлемент */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Заполняет всю ширину элемента */
    height: 100%; /* Заполняет всю высоту элемента */
}

.price__plan:nth-child(1)::before {
    background: url("../icons/impulse.svg") repeat center var(--color-primary); /* Фоновое изображение */
}

.price__plan:nth-child(2)::before {
    background: url("../icons/boost.svg") repeat center var(--color-primary); /* Фоновое изображение */
    background-repeat: space;
}

.price__plan:nth-child(3)::before {
    background: url("../icons/red.svg") repeat center var(--color-primary); /* Фоновое изображение */
    background-repeat: space;
}

.plan__title {
    position: relative;
    text-align: center;
    font-size: clamp(30px, 2.77vw, 40px);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
    z-index: 100;
}

.plan__description {
    position: relative;
    font-weight: 500;
    font-size: clamp(16px, 1.38vw, 24px);
    line-height: .9;
    margin-bottom: 30px;
    z-index: 100;
}

.plan__item {
    position: relative;
    line-height: 1.3;
    font-size: clamp(14px, 1.04vw, 18px);
}

.plan__item::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    left: -10px;
    top: 8px;
}

@keyframes scroll {
    from {
        transform: translateX(-100%); /* Начало строки */
    }
    to {
        transform: translateX(0); /* Уходит полностью влево */
    }
}

@media (max-width: 1920px) {
    :root {
        --container-width: 1300px;
    }

}

@media (max-width: 1000px){
    .about__container {
        flex-direction: column;
        padding-inline: var(--container-padding-x);
        margin-inline: auto;
    }

    .about__title {
        margin: 0 0 60px 0;
        text-align: center;
        font-size: clamp(80px, 27.9vw, 120px);
    }

    .about__text-container {
        border: 10px solid var(--color-primary-light);
    }

    .text-container__title,
    .text-container__sub-title,
    .text-container__text .red {
        display: block;
        text-align: center;
    }

    .head__container {
        flex-direction: column;
    }

    .head__image {
        margin-bottom: 35px;
    }

    .head__info {
        max-width: clamp(364px, 27.43vw, 474px);
        margin-bottom: 35px;
    }

    .head__title {
        margin-bottom: 15px;
    }

    .head__subtitle {
        margin-bottom: 15px;
    }

    .head__contacts {
        flex-direction: row;
    }

    .command::before {
        right: 0;
        left: auto;
        transform: scaleX(1);
    }

    .command__container {
        flex-direction: column;
    }

    .command__info {
        max-width: 376px;
        margin-right: 0;
    }

    .table {
        grid-template-columns: repeat(1, 1fr);
        max-width: 376px;
        background: var(--color-primary-light);
    }
    
    .price__list {
        align-items: center;
        row-gap: 20px;
        flex-direction: column;
        margin-top: 0;
    }

    .price__plan {
        max-width: 376px;
    }

    .price__title {
        display: block;
        text-align: center;
    }

    .price__subtitle {
        padding-left: 40%;
        text-align: center;
        margin-top: -10%;
    }
}


@media (max-width: 900px) {
    .nav,
    .header__contacts {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .burger__line {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 15px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%; /* Начальное состояние: полностью за пределами экрана */
        width: 300px; /* Ширина меню на весь экран */
        height: 100%; /* Высота на весь экран */
        background-color: var(--color-primary-dark);
        color: #fff; /* Цвет текста */
        display: flex;
        flex-direction: column;
        justify-content: start; /* Центрирование содержимого */
        align-items: end;
        text-align: right;
        transition: right 0.3s ease-in-out; /* Анимация выезда справа */
        z-index: 1000; /* Выше всех остальных элементов */
        padding: 70px 20px;
    }

    .mobile-menu.open {
        right: 0;
    }

    .mobile-menu__close {
        font-size: 40px;
        background: none;
        border: none;
        color: white;
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
    }

    .hero__container {
        position: relative;
        flex-direction: column;
        text-align: center;
        padding-inline: var(--container-padding-x);
    }

    .hero__subtitle {
        margin-bottom: 20px;
    }

    .hero__button {
        position: absolute;
        bottom: 30px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero::before {
        position: absolute;
        background: url("../icons/lines-mobile.svg") center center no-repeat;
        background-size: cover;
        width: min(100vw, 315px);
        aspect-ratio: 0.7;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }

    .marquee-container {
        font-size: 24px;
    }
}


@media (max-width: 600px) {
    .price__subtitle {
        margin-top: -15%;
    }
}

@media (max-width: 480px) {
    .price__subtitle {
        margin-top: -18%;
    }
}